.pagination {
    font-size: 12px;
}
.pagination a {
    text-decoration: none;
	border: solid 1px #357EBD;
	margin: 0px 0;
	color: #357EBD;
}
.pagination a:hover {
    text-decoration: none;
	border: solid 1px #58C0DE;
	color: #58C0DE;
	font-size: 12px;
}
.pagination a, .pagination span {
    display: block;
    float: left; 
    padding: 2px 4px;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}
.pagination .current {
    background: #428bca;
    color: #fff;
	border: solid 1px #428bca;
}
.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.time{
	color:#C0C0C0;
}
